[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic-settings = "*"
bcrypt = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
sqlmodel = "*"
asyncpg = "*"
psycopg2 = "*"
biscuit-python = "*"

[dev-packages]

[requires]
python_version = "3.12"
